
<%= form_with model: @guest, local: true do |form| %>
  <%= render 'form_errors' %>

  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :attending %><br>
    <%= form.check_box :attending %>
  </p>
  <p>
    <%= form.label :dietary_restrictions %><br>
    <%= form.text_field :dietary_restrictions %>
  </p>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_field :comments %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
