
<h1>All guests:</h1>

<%= link_to 'Add guest', new_guest_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Attending</th>
  </tr>

  <% @guests.each do |guest| %>
    <tr>
      <td><%= guest.name %></td>
      <td><%= guest.email %></td>
      <td><%= guest.attending %></td>
      <td><%= link_to 'Show', guest_path(guest) %></td>
      <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
      <td><%= link_to 'Remove', guest_path(guest),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
